<mat-card>
    <mat-card-content>
        <h2>
            Student DashBoard
        </h2>
        <table class="student-table" >
         <tr>
            <th><b>Name</b></th>
            <th><b>Id</b></th>
            <th><b>Address</b></th>
            <th><b>PhoneNumber</b></th>
        </tr> 
        <tr *ngFor="let s of student">

                <td>{{s.name}}</td>
                <td>{{s.id}}</td>
                <td>{{s.address}}</td>
                <td>{{s.phoneNumber}}</td>
            </tr>
          
    
        </table>
    </mat-card-content>
</mat-card>